Anulada_v1.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0">
	<xs:element name="Operacion">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Datos_de_la_operaci93n_anulada88reporte_de_anulaci93n_de_operaciones">
					<xs:complexType>
						<xs:sequence>							
							<xs:element name="Numero_de_control" type="xs:string" />							
						</xs:sequence>
						<xs:attribute name="Version" use="required" type="xs:string" fixed="1.0" />
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>